.dashboard {
    background-color: purple; 
    min-height: 100vh; 
    padding: 20px;
    font-family: 'Oswald', sans-serif; 
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-down {
    animation: slideDown 3s ease forwards;
  }
  