
body {
  background-color: purple; /* Replace with your desired color */
}
.home-container {
    text-align: center; 
    padding: 20px;

  }
  
  .spotify-login-btn {
    background-color: rgb(22, 182, 22); 
    color: rgb(251, 251, 251); 
    border: none;
    padding: 10px 50px; 
    border-radius: 20px; 
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 20vh;
  }
  
  .spotify-login-btn:hover {
    background-color: #1db954;
  }
  
  .spotify-logo {
    height: 100px; 
    width: 100px; 
  }


  .dashboard-btn {

  background-color: #004d40; /* Example color */
  color: rgb(72, 28, 28);
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.dashboard-btn:hover {
  background-color: #00332a; /* Darker color on hover */
}