
body {
  background-color: #400073; 
  margin: 0;
  height: 100vh;
  font-family: 'Oswald', sans-serif; 
}
.home-container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  padding: 20px;
  height: 80vh; 
}
  
.spotify-login-btn {
  background-color: rgb(22, 182, 22); 
  color: rgb(251, 251, 251); 
  border: none;
  padding: 10px 50px; 
  border-radius: 20px;
  font-family: 'Oswald', sans-serif; 
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
  
  .spotify-login-btn:hover {
    background-color: #1db954;
  }
  
  .spotify-logo {
    height: 24px; 
    width: 24px; 
    margin-right: 10px;
  }


  .dashboard-btn {

  background-color: #004d40;
  color: rgb(72, 28, 28);
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.dashboard-btn:hover {
  background-color: #00332a;
}