.header-title {
  font-size: 96px;
}

.playlist {
  list-style-type: none;
  padding: 0;
  margin: 15vw; /* Adds padding on both sides */
}

.track-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 10px;
}

.album-cover {
  width: 180px;
  height: 180px;
  margin-right: 10px;
  border-radius: 4px;
  padding-left: 1vw;
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  padding-left: 1vw;
  overflow: hidden; /* Ensures scrolling text stays within this container */
}

.track-name {
  font-weight: bold;
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip; /* Prevents text from spilling over */
  text-align: center; /* Centers the text */
  padding: 0 10px; /* Adds padding on both sides */
}

.track-name span {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.scrolling {
  animation: scroll-title 20s linear infinite;
}

@keyframes scroll-title {
  0%, 100% { transform: translateX(0%); }
  50% { transform: translateX(-50%); }
}

.track-artist {
  font-style: italic;
  font-size: 2em;
}

.play-icon {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;  /* Increased height of the triangle */
  border-bottom: 30px solid transparent;  /* Increased height of the triangle */
  border-left: 60px solid white;  /* Increased width of the triangle */
  cursor: pointer;
  align-self: center;
  margin-left: auto;
  margin-right: 2vw;
}

