.top-tracks-container {
    color: white; /* Make all text white */
  }
  
  .top-tracks {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .track {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .album-cover {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: cover;
  }
  
  .track-info {
    display: flex;
    flex-direction: column;
  }
  